.Box {
  width: 100%;
  height: 390px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.caixaBanner {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo-banner {
  max-width: 230px;
  width: 100%;
  cursor: pointer;

}

.navbar {
  background-color: black;
  width: 100%;
  height: 55px;
  font-weight: bold;
  display: flex;
  position: fixed;
  top: 3%;
  opacity: 0.8;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.navbar-options {
  margin-left: 6%;
  color: white;
  transition: 300ms;

}

.contato-position {
  color: white;
  margin-right: 2%;
  transition: 300ms;

}

.contato-position:hover {
  transition: 300ms;
  color: #FF541E;
  cursor: pointer;
}

.navbar-options:hover {
  transition: 300ms;
  color: #FF541E;
  cursor: pointer;
}

.Search {
  color: white;
  background-color: #393E46;
  padding: 14px;
  border-radius: 80px;
  font-size: 30px;
  transition: 400ms;
  -webkit-box-shadow: 1px 3px 19px 3px rgba(0, 0, 0, 0.42);
  box-shadow: 1px 3px 19px 3px rgba(0, 0, 0, 0.42);

}

.Search:hover {
  transition: 300ms;
  cursor: pointer;
  opacity: 0.7;
}

.SearchPosition {
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
  padding-right: 2%;

}

.caixaTituloSobre {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tituloSobre {
  font-size: x-large;
  color: white;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  border-top: 1px white solid;
  width: 50%;
  margin-top: 0;

}

.Caixasobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 300ms;
  font-size: 0%;
  color: white;
  height: 300px;


}

.Caixasobre:hover {
  transition: 300ms;
  font-size: large;
  background-color: black;
  -webkit-box-shadow: 0px 10px 13px -7px #393E46, -1px 9px 12px -9px #393E46;
  box-shadow: 0px 10px 13px -7px #393E46, -1px 9px 12px -9px #393E46;
  opacity: 0.7;
  padding-top: 3%;
}

.sobre {
  transition: 100ms;
  background-color: black;
  opacity: 0.7;

}

.caixaTexto {
  max-width: 70%;
  height: 100%;
}

#caretIcon {
  margin-right: 8px;
  margin-top: 5px;

}

.SetaIcon {
  margin: 20px;
  color: #fff;

}

.arrowIconBox {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 0.1px;
  transition: 300ms;
  padding-bottom: 200px;
}

.arrowIconBox:hover {
  font-size: 100%;
  transition: 300ms;
}

.caixaTituloProjetos {
  display: flex;
  justify-content: center;
}

#tituloProjetos {
  color: #fff;
  margin-top: 100px;
  margin-bottom: 50px;
}


.links {
  width: 100%;
  height: 50px;
  display: flex;
  font-weight: bold;
}

.links label {
  padding: 10px 0;
  flex-grow: 1;
  cursor: pointer;
  transition: all .4s;
  text-align: center;
  font-family: 'Arial';
  font-size: 100%;
  color: #fff;
  background-color: black;
  opacity: 0.8;

}

.links label:hover {
  background-color: rgba(255, 255, 255, .2);
}

.scroll {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sections {

  transition: all .4s;
  font-weight: bold;
  font-size: 200px;
}

input {
  display: none;
}

.bloco {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
 
}

#programa1 {
  background-color: #7fbd42;
}

#programa2 {
  background-color: #69f;
}

#programa3 {
  background-color: #faa;
}

#programa4 {
  background-color: #aaa;
}


#programa5 {
  background-color: #414950;
}

#rd_programa2:checked~.sections {
  margin-top: -100vh;
}

#rd_programa3:checked~.sections {
  margin-top: -200vh;
}

#rd_programa4:checked~.sections {
  margin-top: -300vh;
}

#rd_programa5:checked~.sections {
  margin-top: -400vh;
}