.caixaTituloSobre {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tituloSobre {
  font-size: x-large;
  color: white;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  border-top: 1px white solid;
  width: 50%;
  margin-top: 0;

}

.Caixasobre {
  display: inline-table;
  width: 100%;
  transition: 200ms;
  color: white;
  text-align: center;
  font-size: 0;
  padding-bottom: 5%;
}

.Caixasobre:hover {
  transition: 200ms;
  background-color: black;
  opacity: 0.7;
  padding-top: 1%;
}

#espaco {
  transition: 400ms;
}

#espaco:hover{
  transition: 300ms;
  background-color: black;
  opacity: 0.7;
}

.caixaTexto {
  display: flex;
  text-align: center;
  justify-content: center;
}

.sobre {
  max-width: 70%;
  transition: 100ms;
}

#caretIcon {
  margin-right: 8px;
  margin-top: 5px;
  
}

.iconUp {
  display: none;
  font-size: large;
  justify-content: center;
}

.aIcon{
  padding: 5px;
  border-radius: 40px;
  background-color: #FF541E;
  opacity: 0.6;
}

.aIcon:hover{
  color: white;
  opacity: 1;
}



.fecha {
  height: -webkit-fill-available;
  padding: 50px
}

.fechaSobre {
  height: -webkit-fill-available;
  padding: 50px
}